.site-main .index-box{
    position: relative;
}

.site-main a {
    color: #404040;
    text-decoration: none;
}
.site-main a:visited {
    color: #404040;
    text-decoration: none;
}

.site-main a:hover {
    color: #404040;
    text-decoration: underline;
}
.site-main a:visited:hover {
    color: #404040;
    text-decoration: underline;
}

.site-main article,
.site-main a,
.site-main a:visited,
.site-main h2 {
    color: white;
}
/*.entry-title {
    font-size: 45px;
}

.entry-content,
.entry-meta {
    font-size: 18px;
}*/

.hentry {
    margin: 0;
}

.site-main .feat-image {
    display: none;
}

.site-main img {
    width: 100%;
    height: auto;
}

@media screen and ( max-width: 600px ) {
    .site-main article {
        background-image: none !important;
     }
     .site-main .feat-image {
         display: block;
     }
     .hentry {
         width: auto !important;
         height: auto !important;
     }
/*     .site-main .entry-title {
         font-size: 25px;
     }
     .index-box .entry-content, 
     .index-box .entry-meta {
         font-size: 15px;
     }*/
}