.site-main .index-box{
    position: absolute;
    bottom: 0;
    max-width: 710px;
    width: 80%;
}
.site-main article {
    position: relative;
}

.site-main article,
.site-main a,
.site-main a:visited,
.site-main h2,
.site-main p {
    color: white;
} 

.hentry {
    margin: 0;
}

.site-main .feat-image {
    display: none;
}

.site-main img {
    width: 100%;
    height: auto;
}

@media screen and ( max-width: 600px ) {
    .site-main article {
        background-image: none !important;
     }
     .site-main .feat-image {
         display: block;
     }
     .hentry {
         width: auto !important;
         height: auto !important;
     }
}

.single article {
    position: relative;
}