#masthead, #site-navigation {
	-webkit-transition: background .4s linear, padding .4s linear, margin .4s linear;
	-moz-transition: background .4s linear, padding .4s linear, margin .4s linear;
	-ms-transition: background .4s linear, padding .4s linear, margin .4s linear;
	-o-transition: background .4s linear, padding .4s linear, margin .4s linear;
	transition: background .4s linear, padding .4s linear, margin .4s linear;
}
#masthead {
    background: rgba(255,255,255,.1);
    border-bottom: 1px solid rgba(255,255,255,.3);
    position: absolute;
    //position: fixed;
	position: relative;
    z-index: 2;
    left: 0;
    right: 0;
    a, a:visited {
        color: #fff;
    }
    .site-branding {
		height: auto;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
        float: left;
		display: block;
        * {
            line-height: 1em;
            margin: 0;
        }
		a {
			display: block;
		}
		.site-logo {
			height: 60px;
			width: auto;
			display: block;
		}
    }
    nav {
		padding: 40px 0 40px 200px;
        float: right;
        width: auto;
        clear: none;
        z-index: 3;
        li {
            margin-left: 40px;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            -ms-transition: all .4s;
            -o-transition: all .4s;
            transition: all .4s;
        }
        ul ul li {
            transform: translateY(35px);
            transition: all .4s;
            opacity: 0;
        }
        ul ul li:nth-child(1) {
            transform: translateY(5px);
        }
        ul ul li:nth-child(2) {
            transform: translateY(10px);
        }
        ul ul li:nth-child(3) {
            transform: translateY(15px);
        }
        ul ul li:nth-child(4) {
            transform: translateY(20px);
        }
        ul ul li:nth-child(5) {
            transform: translateY(25px);
        }
        ul ul li:nth-child(6) {
            transform: translateY(30px);
        }
        li:hover > ul > li {
            transform: translateY(0);
            opacity: 1;
        }
        ul ul {
            box-shadow: none;
            font-size: 14px;
            padding-top: 20px;
            ul {
                padding-top: 0;
            }
            li {
                background: rgba(0,0,0,.5);
                margin-left: 0;
                padding: 8px 20px;
                &:hover {
                    background: rgba(0,0,0,.8);
                }
            }
            a {
                width: auto;
                min-width: 200px;
            }
        }
        ul ul > li:first-child {
            padding-top: 16px;
        }
        ul ul > li:last-child {
            padding-bottom: 16px;
        }
    }
}
body.has-logo-feature {
	#masthead nav {
		padding: 40px 0;
		margin: 0 auto;
	}
	#masthead nav {
		width: 100%;
		text-align: center;
		li {
			text-align: left;
		}
	}
	#masthead nav > div > ul > li {
		display: inline-block;
		float: none;
		margin-left: 20px;
		margin-right: 20px;
	}
}
#masthead-top-wrapper {
    background: #000;
}
#masthead-top {
    padding: 15px 50px;
    color: #fff;
    font-size: .8em;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	line-height: 1em;
}
#masthead-main {
    padding: 0 50px;
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
}
@media (max-width: 1200px) {
	#masthead-main {
	    padding: 0;
		max-width: 900px;
	}
	#masthead-top {
	    padding: 15px 0;
		max-width: 900px;
	}
}
@media (max-width: 955px) {
	#masthead-main {
		margin: 0;
		//padding: 0 80px;
	}
	#masthead-top {
		margin: 0;
		padding: 15px 80px;
	}
}
@media (min-width: 955px) and (max-width: 1000px) {
	body.has-sidebar {
		#masthead-main {
			padding: 0 50px;
			margin: 0;
		}
		#masthead-top {
			padding: 15px 50px;
			margin: 0;
		}
	}
}
@media (max-width: 621px) {
	#masthead-main {
		padding: 40px 50px;
	}
	#masthead-top {
		padding: 15px 50px;
	}
}
@media (max-width: 955px) {
	#masthead nav ul ul {
		float: none;
		position: relative;
		display: block;
		left: 0;
		padding: 0 0 16px;
	}
	#masthead nav li li {
		-webkit-transform: translate3d(0,0,0) !important;
		-moz-transform: translate3d(0,0,0) !important;
		-ms-transform: translate3d(0,0,0) !important;
		-o-transform: translate3d(0,0,0) !important;
		transform: translate3d(0,0,0) !important;
		opacity: 1 !important;
		background: transparent !important;
		padding: 8px 30px !important;
		float: none !important;
	}
}


.top-search {
	float: right;
//	background: rgba(0,0,0,.07);
	font-size: 20px;
//	line-height: 20px !important;
//	padding: 17px 14px;
//	margin-top: -17px;
	cursor: pointer;
	margin-left: 10px;
	&:before {
		font-size: 20px;
		line-height: 20px;
		line-height: 1em;
	}
//	&:hover {
//		background: rgba(0,0,0,.14);
//	}
}
@media (max-width: 700px) {
	.social-navigation, .top-search, #masthead-top form {
		display: none !important;
	}
}


#masthead-top {
	.top-search.showme, .top-search:hover {
		color: orange;
	}
	.top-search + form {
		z-index: -99;
		opacity: 0;
	}
	.top-search.showme + form {
		z-index: 1;
        -webkit-transition: all .4s;
        -moz-transition: all .4s;
        -ms-transition: all .4s;
        -o-transition: all .4s;
        transition: all .4s;
		opacity: 1;
	}
	form {
		position: absolute;
		right: 0;
		top: 100%;
		input[type="submit"] {
			display: none;
		}
		input[type="search"] {
			border-radius: 0;
			background: rgba(255,255,255,.9);
			border: 0;
			padding: .5em .8em;
			width: 250px;
			margin-right: 50px;

			&::-webkit-input-placeholder {
			   color: #888;
			}

			&:-moz-placeholder { /* Firefox 18- */
			   color: #888;
			}

			&::-moz-placeholder {  /* Firefox 19+ */
			   color: #888;
			}

			&:-ms-input-placeholder {  
			   color: #888;
			}
		}
	}
}

@media (max-width: 1200px) {
	#masthead-top form input[type="search"] {
	    margin-right: 0px;
	}
}
@media (max-width: 955px) {
	#masthead-top form input[type="search"] {
		margin-right: 80px;
	}
}
@media (min-width: 955px) and (max-width: 1000px) {
	body.has-sidebar #masthead-top form input[type="search"] {
	    margin-right: 50px;
	}
}


.logo-feature {
	z-index: 1;
	position: relative;
	text-align: center;
	h1 {
		margin: 0;
	}
	.site-logo-link img {
		margin-bottom: 20px;
	}
}



#masthead.fixed {
	margin-bottom: 50px;
	border-color: transparent;
	background: rgba(0,0,0,.8);
	#site-navigation {
		padding-top: 15px;
		padding-bottom: 15px;
	}
}