header {
	height: 100vh;
}

#page {
	position: relative;
}
#site-top {
	position: absolute;;
	top: 0;
	right: 40px;
}

.site-title {
	display: inline-block;
    background: black;
    font-size: 2em;
	line-height: 1em;
    background: rgba(0, 0, 0, .7);
	opacity: 0.8;
	padding: .4em .8em;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
	&:visited, &:hover, &:link {
		color: #fff;
		text-decoration: none;
	}
	&:hover {
		opacity: 1;
	}
}

// Header image styles
header {
	background-size: cover;
	background-position: center;
	position: relative;
}

// Header home text
#masthead-inner {
	max-width: 710px;
	width: 80%;
	margin: 0 auto;
	
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
}
#masthead {
	color: #fff;
}


/**
 * Responsive header
 */
@media screen and (max-width: 710px) {
	.menu-toggle {
		left: 5vw;
		top: 5vw;
	}
	#site-top {
		right: 5vw;
		.social-navigation {
			position: absolute;
			right: 0;
			bottom: -10px;
			margin: 0;
			-webkit-transform: translateY(100%);
			-moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			-o-transform: translateY(100%);
			transform: translateY(100%);
		}
	}
	.site-title {
	    font-size: 1.7em;
	    position: relative;
	    margin-left: 40vw;
	}
}