header#masthead, body.home header#masthead, body.home.page header#masthead {
	height: 100vh;
	min-height: 600px;
}
body.page, body.single, body.archive, body.search, body.error404 {
	#masthead {
		height: auto;
		min-height: 0;
		#masthead-inner {
		    position: relative;
		    padding-top: 200px;
			h1 {
				margin-top: 20px;
			}
			.entry-category:empty ~ h1.site-description {
				margin-top: 0;
			}
		}
	}
}
.site-description {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}

#page {
	position: relative;
}
#site-top {
	position: absolute;;
	top: 0;
	right: 40px;
	z-index: 1;
}

.site-title, .site-logo-link {
	display: inline-block;
    background: black;
    font-size: 2em;
	line-height: 1em;
    background: rgba(0, 0, 0, .7);
	opacity: 0.8;
	padding: .4em .8em;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
	&:visited, &:hover, &:link {
		color: #fff;
		text-decoration: none;
	}
	&:hover {
		opacity: 1;
	}
}

// Header image styles
header {
	background-size: cover;
	background-position: center;
	position: relative;
}

// Header home text
#masthead-inner {
	max-width: 710px;
	width: 80%;
	margin: 0 auto;
	
    position: absolute;
    left: 0;
    right: 0;
	bottom: 50px;
	&.tagline {
	    bottom: 100px;
	}
}
#masthead {
	color: #fff;
}


/**
 * Responsive header
 */
@media screen and (max-width: 710px) {
	.menu-toggle {
		left: 5vw;
		top: 5vw;
	}
	#site-top {
		right: 5vw;
		.social-navigation {
			position: absolute;
			right: 0;
			bottom: -10px;
			margin: 0;
			-webkit-transform: translateY(100%);
			-moz-transform: translateY(100%);
			-ms-transform: translateY(100%);
			-o-transform: translateY(100%);
			transform: translateY(100%);
		}
	}
	.site-title, .site-logo-link {
	    font-size: 1.7em;
	    position: relative;
	    margin-left: 40vw;
	}
}


body.search .site-main .no-results, body.error404 .page-content {
	width: 80%;
	max-width: 710px;
	margin: 0 auto;
	background: #fff;
    position: relative;
    padding-top: 50px;
    border-top: 1px solid #eee;
    margin-top: 100px;
	> .genericon {
		background: #d9b760;
		color: #fff;
		width: 70px;
		line-height: 70px;
		border-radius: 100%;
		display: block;
		border: 5px solid #fff;
		box-sizing: content-box;
		box-shadow: 0 0 0 1px #eee;
		margin: 0 auto;
		position: absolute;
		top: 0;
		left: 50%;
		font-size: 24px;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		-o-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}
}	
.genericon-close:before {
  content: '\f406';
}