body.has-sidebar {
	#content #secondary {
		margin: 0 auto;
		max-width: 710px;
		width: 80%;
	}
}
@media screen and (max-width: 1300px) {
	body.has-sidebar {
		#masthead-inner .entry-date {
			left: auto;
			right: 0;
			-webkit-transform: translateX(0%);
			-moz-transform: translateX(0%);
			-ms-transform: translateX(0%);
			-o-transform: translateX(0%);
			transform: translateX(0%);
		}
	}
}
@media screen and (min-width: 1120px) {
	body.has-sidebar {
		#masthead-inner {
		    max-width: 990px;
		    width: 90%;
		}
		#content {
		    max-width: 990px;
			width: 90%;
		    margin: 0 auto;
			#main {
			    width: 710px;
			    float: left;
				article {
					width: 100%;
				}
				.navigation > div {
					width: 100%;
				}
			}
			#secondary {
			    float: left;
			    width: 240px;
			    margin-left: 40px;
			    padding-top: 3em;
			}
			&:after {
				content: '';
				display: block;
				clear: both;
			}
		}
		// comments
		#comments {
			width: 100%;
		}
		// footer widgets & copyright area
		.footer-widgets, .site-info {
			max-width: 990px;
			padding-right: 280px;
			width: 90%;
		}
	}
}

// Widgets
.widget-area {
	.widget:first-child {
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}
	}
	ul:after {
		content: '';
		display: block;
		clear: both;
	}
	li {
		list-style: none;
		padding: .3em 1em .3em 0;
		border-bottom: 1px solid #f1f1f1;
		float: left;
		display: inline-block;
		clear: both;
		&:first-child {
			border-top: none;
		}
		li {
			&:first-child {
				border-top: 1px solid #f1f1f1;
			}
		}
		ul {
			padding-top: .3em;
			li:last-child {
				padding-bottom: 0;
			}
		}
	}
}
.widget-area {
	a, a:visited {
		color: #d9b760;
		&:hover {
			color: #555E67;
		}
	}
}

.widget {
	input[type="search"],
	input[type="text"],
	input[type="password"],
	input[type="email"],
	#subscribe-email input,
	textarea {
		width: 100%;
		padding: .5em .8em;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
}
.widget_calendar {
	th, td {
		text-align: center;
	}
	a, a:visited {
		color: #d9b760;
		&:hover {
			color: #888;
		}
	}
}
.widget_recent_comments {
	.recentcomments {
		color: #bbb;
	}
	.comment-author-link {
		a, a:visited {
			color: #d9b760;
			&:hover {
				color: #888;
			}
		}
	}
}
.widget_tag_cloud {
	.tagcloud {
		a, a:visited {
			font-size: 14px !important;
	        background: #fafafa;
	        padding: .1em .4em;
	        border-radius: 3px;
	        border: 1px solid #ECF0F1;
	        color: #aaa;
			text-transform: uppercase;
	        &:hover {
	            background: transparent;
	            border-color: transparent;
	            color: #d9b760;
	        }
		}
	}
}
footer {
	.widget-grofile {
		text-align: center;
	}
}