
#primary {
	margin-right: 350px;
}
body.no-sidebar {
	#primary {
		margin-right: 0;
	}
}
#secondary {
	width: 320px;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	padding: 50px;
	::-webkit-input-placeholder {
	  color: #555; }
	:-moz-placeholder {
	  /* Firefox 18- */
	  color: #555; }
	::-moz-placeholder {
	  /* Firefox 19+ */
	  color: #555; }
	:-ms-input-placeholder {
	  color: #555; }
}
#content {
	max-width: 1200px;
}

@media (max-width: 1200px) {
	#content {
		max-width: 1000px;
	}
}

@media (max-width: 1000px) {
	#primary {
		margin-right: 340px;
	}
}

// mobile time
@media (max-width: 955px) {
	#primary {
		margin-right: 0;
	}
	#secondary {
		width: auto;
		position: relative;
		top: auto;
		right: auto;
		padding: 50px;
		margin: 30px;
	}
}
@media (max-width: 621px) {
	#secondary {
		margin: 0;
	}
}



// Widgets
.widget-area {
	.widget:first-child {
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
		}
	}
	li {
		list-style: none;
		padding: .3em 0;
		border-top: 1px solid #f1f1f1;
		&:first-child {
			border-top: none;
		}
		li {
			&:first-child {
				border-top: 1px solid #f1f1f1;
			}
		}
		ul {
			padding-top: .3em;
			li:last-child {
				padding-bottom: 0;
			}
		}
	}
}
.widget-area {
	a, a:visited {
		color: #888;
		&:hover {
			color: orange;
		}
	}
}

.widget {
	input[type="search"],
	input[type="text"],
	input[type="password"],
	input[type="email"],
	#subscribe-email input,
	textarea {
		width: 100%;
		padding: .5em .8em;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
}
.widget_calendar {
	th, td {
		text-align: center;
	}
	a, a:visited {
		color: orange;
		&:hover {
			color: #888;
		}
	}
}
.widget_recent_comments {
	.recentcomments {
		color: #bbb;
	}
	.comment-author-link {
		a, a:visited {
			color: orange;
			&:hover {
				color: #888;
			}
		}
	}
}
.widget_tag_cloud {
	.tagcloud {
		a, a:visited {
			font-size: 14px !important;
	        background: #fafafa;
	        padding: .1em .4em;
	        border-radius: 3px;
	        border: 1px solid #ECF0F1;
	        color: #aaa;
			text-transform: uppercase;
			font-family: "Unica One";
	        &:hover {
	            background: transparent;
	            border-color: transparent;
	            color: $decorColor;
	        }
		}
	}
}
footer {
	.widget-grofile {
		text-align: center;
	}
}