body {
	font-family: 'Gudea', sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	color: #555E67;
}
a, a:link, a:visited {
	color: #DADFE1;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	text-decoration: none;
	opacity: 1;
	&:hover {
//		color: #F2F1EF;
		opacity: .6;
		text-decoration: none;
	}
}
body {
	.comment-reply-link,
	.comment-edit-link,
    .btn, .btn-default, button,
    input[type="button"],
    input[type="reset"],
    input[type="submit"] {
		&, &:link, &:visited {
			color: #DADFE1;
			border: 2px solid #DADFE1;
			padding: 1.4em 2.4em;
			text-transform: uppercase;
			line-height: 1em;
			font-size: .9em;
			display: inline-block;
			opacity: 1;
			&:hover {
				opacity: .6;
				color: #DADFE1;
			}
		}
	}
}
body.blog, body.archive, body.search {
	article {
		color: #F2F1EF;
	}
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
	font-weight: 900;
	font-style: italic;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 50px;
}
h3 {
    font-size: 28px;
}
h4 {
    font-size: 22px;
}
h5 {
    font-size: 16px;
}
h6 {
    font-size: 14px;
}
@media (max-width: 676px) {
	h1 {
	    font-size: 50px;
	}
	h2 {
	    font-size: 40px;
	}
	h3 {
	    font-size: 22px;
	}
	h4 {
	    font-size: 18px;
	}
	h5 {
	    font-size: 16px;
	}
	h6 {
	    font-size: 14px;
	}
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.1em;
    margin-top: 50px;
    margin-bottom: 25px;
}